<ion-view view-title="Infografias">
	<ion-content>
        <div class="row">
          <div class="col">
            <h2 class="titulo">Infografias</h2>
          </div>
        </div>
      <div class="container">
        <div class="row">
          <div class="col media">
            <img src="../infografia.png" height="auto" width="70%">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col media">
            <img src="../reproduccion.jpg" height="auto" width="70%">
          </div>
        </div>
      </div>
	</ion-content>
</ion-view>