<ion-view view-title="Tablas">
	<ion-content>
		      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="titulo">Tabla Nutricional</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <!-- TABLA DE DESAYUNO -->
            <center>
            <img src="../img/desayuno.jpg" width="70%" height="auto">
            </center>
            <div class="nutrifacts-html">
              <h2> Desayuno adolescente</h2>
              <span> Huevos con frijoles, cereal y jugo de naranja.</span>
              <div class="separator"></div>
              <!-- Tabla -->
              <table>
                <tr>
                  <td colspan="2">
                    <strong> Cantidad Por Unidad</strong></td>
                </tr>
                <tr>
                  <td>
                    <strong>Calorías<strong/> (energia)  
                  </td>
                  <td class="libredeazucar"><strong> Calorias de Grasa</strong></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="alinearcantidad"><strong></strong></td>
                </tr>
                <tr>
                  <td><strong>Grasa Total</strong></td>
                  <td class="alineartexto">99%</td>
                </tr>
                <tr>
                  <td> Huevos</td>
                  <td class="alineartexto">80%</td>
                </tr>
                <tr>
                  <td><strong>Proteinas</strong></td> 
                  <td class="alineartexto"></td>
                </tr>
                 <tr>
                  <td>Colesterol</td>
                  <td class="alineartexto">9%</td>
                </tr>
                
                <tr>
                  <td>Fibra</td>
                  <td class="alineartexto">62%</td>
                </tr>
                <tr>
                  <td><strong>Fibra Dietetica</strong></td>
                  <td class="alineartexto">35%</td>
                </tr>
                <tr>
                  <td><strong>Azucar</strong></td>
                  <td class="alineartexto">24%</td>
                </tr>
                <tr>
                  <td><strong>Magnesio</strong></td>
                  <td class="alineartexto">4,5%</td>
                </tr>  
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <!-- TABLA DE ALMUERZO -->
            <center>
            <img src="../img/almuerzo.jpg" width="70%" height="auto">
            </center>
            <div class="nutrifacts-html">
              <h2> Almuerzo adolescente</h2>
              <span>Carne, ensalada y coca-cola</span>
              <div class="separator"></div>
              <!-- Tabla -->
              <table>
                <tr>
                  <td colspan="2">
                    <strong> Cantidad Por Unidad</strong>
                      </td>
                </tr>
                <tr>
                  <td>
                    <strong>Calorías<strong/>
                  </td>
                  <td class="libredeazucar"><strong>Cantidad</strong></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="alinearcantidad"><strong></strong></td>
                </tr>
                <tr>
                  <td><strong>Calorias</strong></td>
                  <td class="alineartexto">700</td>
                </tr>
                <tr>
                  <td> Proteinas</td>
                  <td class="alineartexto">20%</td>
                </tr>
                <tr>
                  <td><strong>Calcio</strong></td> 
                  <td class="alineartexto"></td>
                </tr>
                 <tr>
                  <td>Grasa</td>
                  <td class="alineartexto">0%</td>
                </tr>
                
                <tr>
                  <td>Energia kcal</td>
                  <td class="alineartexto">62%</td>
                </tr>
                <tr>
                  <td><strong>Colesterol</strong></td>
                  <td class="alineartexto">58%</td>
                </tr>
                <tr>
                  <td><strong>Azucar</strong></td>
                  <td class="alineartexto">50%</td>
                </tr>
                <tr>
                  <td><strong>Proteinas</strong></td>
                  <td class="alineartexto">15g</td>
                </tr>  
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <!-- TABLA DE CENA -->
            <center>
            <img src="../img/cena.jpg" width="70%" height="auto">
            </center>
            <div class="nutrifacts-html">
              <h2> Cena adolescente</h2>
              <span>Frijoles con queso y cafe</span>
              <div class="separator"></div>
              <!-- Tabla -->
              <table>
                <tr>
                  <td colspan="2">
                    <strong> Cantidad Por Unidad</strong>
                      </td>
                </tr>
                <tr>
                  <td>
                    <strong>Calorías<strong/></td>
                  <td class="libredeazucar"><strong>Cantidad</strong></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="alinearcantidad"><strong></strong></td>
                </tr>
                <tr>
                  <td><strong>Calorias</strong></td>
                  <td class="alineartexto">300</td>
                </tr>
                <tr>
                  <td>Fibra</td>
                  <td class="alineartexto">64%</td>
                </tr>
                <tr>
                  <td><strong>Grasa Saturada</strong></td> 
                  <td class="alineartexto">80%</td>
                </tr>
                 <tr>
                  <td>Proteina</td>
                  <td class="alineartexto">0%</td>
                </tr>
                
                <tr>
                  <td>Sodio</td>
                  <td class="alineartexto">45%</td>
                </tr>
                <tr>
                  <td><strong>Colesterol</strong></td>
                  <td class="alineartexto">5%</td>
                </tr>
                <tr>
                  <td><strong>Azucar</strong></td>
                  <td class="alineartexto"></td>
                </tr>  
              </table>
            </div>
          </div>
        </div>
      </div>
	</ion-content>
</ion-view>