<ion-view view-title="PROYECTOS">
    <ion-content class="padding">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="titulo">IMPORTANCIA DEL AGUA:</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col media">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7UHFvyhKIXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col col-10"></div>
          <div class="col col-80">
            <h2 class="titulo">ADN 3D</h2>
          </div>
          <div class="col col-10"></div>
        </div>
        <div class="row">
          <div class="col col-25"></div>
          <div class="col col-50">        
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          </div>
          <div class="col col-25"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="titulo">Infografias</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col media">
            <img class="img-responsive media" src="../infografia.png" height="600" width="400">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col media">
            <img class ="img-responsive" src="../reproduccion.jpg" height="600" width="500">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="titulo">Tabla Nutricional</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <!-- Tabla de nutrición en HTML -->
            <div class="nutrifacts-html">
              <h2> Tabla Nutricional</h2>
              <span> Tamaño De La Porción: 40g (1 Tortilla)</span>
              <div class="separator"></div>
              <!-- Tabla -->
              <table>
                <tr>
                  <td colspan="2">
                    <strong> Cantidad Por Unidad</strong>
                      </td>
                </tr>
                <tr>
                  <td>
                    <strong>Calorías<strong/> 141.48kcal  
                  </td>
                  <td class="libredeazucar"><strong>Libre De Azúcar</strong></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="alinearcantidad"><strong>Cantidad</strong></td>
                </tr>
                <tr>
                  <td><strong>Grasa Total</strong></td>
                  <td class="alineartexto">2.72g</td>
                </tr>
                <tr>
                  <td> Grasa Saturada</td>
                  <td class="alineartexto">2.72g</td>
                </tr>
                <tr>
                  <td><strong>Carbohidratos Totales</strong></td> 
                  <td class="alineartexto">30.064g</td>
                </tr>
                 <tr>
                  <td>Azúcares</td>
                  <td class="alineartexto">0g</td>
                </tr>
                
                <tr>
                  <td>Fibra</td>
                  <td class="alineartexto">3.4g</td>
                </tr>
                <tr>
                  <td><strong>Sodio</strong></td>
                  <td class="alineartexto">0.2g</td>
                </tr>
                <tr>
                  <td><strong>Proteína</strong></td>
                  <td class="alineartexto">3.71g</td>
                </tr>
                <tr>
                  <td><strong>Fibra Dietética</strong></td>
                  <td class="alineartexto">0.28g</td>
                </tr>
                <tr>
                  <td><strong>Potasio</strong></td>
                  <td class="alineartexto">64mg</td>
                </tr>
                <tr>
                  <td><strong>Fósforo</strong></td>
                  <td class="alineartexto">42.4mg</td>
                </tr>
                <tr>
                  <td><strong>Ceniza</strong></td>
                  <td class="alineartexto">0.24mg</td>
                </tr>
                  
              </table>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
