<ion-view view-title="Academy Of Leaders">
  <ion-content class="padding">
  	<br><br><br>
  	<center>
  		<ion-col>La Importancia del Agua</ion-col>
  		  	<br><br><br>
  		<ion-col>El agua es el recurso natural mas importante para el ser humano, ya que este puede hacer diversas actividades como lavar la ropa, beberla, y muchas mas actividades de higiene personal.</ion-col>
  		<br><br><br>
   	<iframe width="560" height="315" src="https://www.youtube.com/embed/7UHFvyhKIXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  	</center>
  </ion-content>
</ion-view>
